repos:
    # a set of useful Python-based pre-commit hooks
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v6.0.0
      hooks:
          # supported hooks: https://pre-commit.com/hooks.html
          - id: trailing-whitespace
          - id: check-toml
          - id: check-yaml
          - id: end-of-file-fixer
          - id: check-json
          - id: check-merge-conflict
            args: ["--assume-in-merge"]
          - id: check-added-large-files
            args: ["--maxkb=10240"]
          - id: debug-statements
          - id: detect-private-key

    # black
    - repo: https://github.com/ambv/black
      rev: 25.12.0
      hooks:
          - id: black
            args: [--line-length=90]

    # flake8
    - repo: https://github.com/pycqa/flake8
      rev: 7.3.0
      hooks:
          - id: flake8

    # isort
    - repo: https://github.com/timothycrosley/isort
      rev: 7.0.0
      hooks:
          - id: isort

    # shellcheck-py for linting shell files
    - repo: https://github.com/shellcheck-py/shellcheck-py
      rev: v0.11.0.1
      hooks:
          - id: shellcheck

    # sqlfluff for linting SQL files
    - repo: https://github.com/sqlfluff/sqlfluff
      rev: 4.0.0a2
      hooks:
          - id: sqlfluff-lint
            args:
                [
                    "--dialect",
                    "mysql",
                    "--exclude-rules",
                    "RF02,RF04,ST10,CP02",
                ]
            # RF02 - reference qualification
          - id: sqlfluff-fix
            args:
                [
                    "--dialect",
                    "mysql",
                    "--exclude-rules",
                    "RF02,RF04,ST10,CP02",
                ]
